@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap");

/* index.css */

:root {
  /* Base Colors */
  --white: #ffffff;
  --black: #000000;

  /* Green Scale */
  --green-60: #caff33;
  --green-65: #d1ff4d;
  --green-70: #d8ff66;
  --green-80: #e5ff99;
  --green-90: #f2ffcc;
  --green-95: #f8ffe5;
  --green-97: #fbfff0;
  --green-99: #fefffa;

  /* White Scale */
  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;

  /* Grey Scale */
  --grey-10: #1a1a1a;
  --grey-11: #1c1c1c;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #98989a;
  --grey-70: #b3b3b3;
  --grey-75: #bfbfbf;

  /* Semantic Usage (Optional but Recommended) */
  --primary-color: var(--green-60);
  --secondary-color: var(--grey-11);
  --tertiary-color: var(--grey-15);

  --background-screen-color: var(--grey-10);
  --background-navbar-color: var(--grey-11);
  --background-primary-color: var(--green-60);

  --primary-text-color: var(--green-60);
  --secondary-text-color: var(--white);
  --tertiary-text-color: var(--grey-11);

  --temporary-green-color: #22251b;

  /* Typography */
  --primary-text-size: 24px;
  --secondary-text-size: 18px;
  --tertiary-text-size: 12px;

  /* Font font-family: lexend; */
  --primary-font: "Lexend", sans-serif !important;
}

/* Optional global styles */
body {
  background-color: var(--background-screen-color);
  margin: 0;
  font-family: var(--primary-font);
}
